@font-face {
  font-family: 'NotoSansKR-Regular';
  src:url(/font/Noto_Sans_KR/NotoSansKR-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'GothicA1-Light';
  src:url(/font/GothicA1-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumPenScript-Regular';
  src:url(/font/NanumPenScript-Regular.ttf) format('truetype');
}

/**********************************************
  common start
**********************************************/



.w-20{
  width: 20% !important;
}

.text-fcst{
  color: #2BAFFA !important;
}

.text-weather{
  color: #ffc107 !important;
}

@media (min-width: 768px){
  .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 32%;
  }
}




/**********************************************
  common stop
**********************************************/


/**********************************************
  navi start
**********************************************/

#navigation{
  padding-left: 10%;
  padding-right: 10%;
}


#logo, #logo-menu{
  font-family: 'NanumPenScript-Regular';
  font-size: 2em;
}

.menu-1, .menu-2,
.menu-3{
  font-family: 'NanumPenScript-Regular';
  font-size: 2.5em;
}

.menu-1,
.menu-2,
.menu-3{
  margin-left: 100px;
}



.menu-1:hover,
.menu-2:hover,
.menu-3:hover{
  color: #ffc107 !important;
}

i {
  display: inline-block;
  margin-right : 0.5em;
}

@media screen and (max-width: 768px) {

  #logo{
    font-size: 1.5em;
  }

  #navigation{
    padding-left: 5%;
    padding-right: 5%;
  }

  .menu-1,
  .menu-2,
  .menu-3{
    font-size: 2em;
    margin-left: 0px;
  }



}

/**********************************************
  navi end
**********************************************/



/**********************************************
  home start
**********************************************/


#home-container{
  width: 100%;
  height: 100VH;
  background-image: url(/img/bg.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: border-box;
  background-position: 100% 25%;
  overflow: hidden;

  .row{
    margin-top: 12%;
  }

  p{
    color: white;
    font-family: 'NanumPenScript-Regular';
    font-size: 3.5em;
    text-align: center;
  }

}

@media screen and (max-width: 768px) {
  #home-container{
    background-position: 53% 25%;

    .row{
      margin-top: 30%;
    }

    p{
      color: white;
      font-family: 'NanumPenScript-Regular';
      font-size: 2.5em;
      text-align: center;
    }

  }

}


/**********************************************
  home end
**********************************************/


/**********************************************
  yesterday start
**********************************************/
#yesterday-container{
  height: 100VH;
  background: -webkit-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -moz-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -ms-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -o-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);

  input[type='date'], select{
    border: 3px solid white;
    background-color: #84A8E6;
    color: white;
    font-weight: bolder;
  }


  .input-group{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .row{
    padding-left: 10.5% !important;
    padding-right: 10.5% !important;
    margin: 0 auto;


    .col-md-2, .col-md-3,
    .col-md-4, .col-md-5,
    .col-md-6, .col-md-7,
    .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12,{
      background-color: rgba(255, 255, 255, 0.4);
    }

  }

  #second-row{
    height: 40% !important;
    .carousel-control-next, .carousel-control-prev{
      width: 5%;
      bottom:8%;
    }

    canvas{
      display: block;
      margin: 0 auto;
    }



  }

  #first-row{
    height: 20%;

       .fcst-card{
          color: white;
          font-family: 'NanumPenScript-Regular';


          .card-header{
            background-color: #2BAFFA !important;
            font-size: 2em;
          }

          .card-title{
            text-align: center;
            font-size: 4em;
            margin: 0 !important;
            position: relative;
            top: 20%;
          }
       }

    .weather-card{
      color: white;
      font-family: 'NanumPenScript-Regular';

      .card-header{
        background-color: #ffc107 !important;
        font-size: 2em;
      }

      .card-title{
        text-align: center;
        font-size: 4em;
        margin: 0 !important;
        position: relative;
        top: 20%;
      }

    }


  }

  #temperature-sheet,
  #rainfall-sheet,
  #snow-sheet,
  #humidity-sheet,
  #wsd-sheet{
    position: relative;
    top: 5%;
  }


}

@media screen and (max-width: 768px) {


  #yesterday-container{
    overflow: scroll;

    .input-group{
      padding-left: 0% !important;
      padding-right: 0% !important;
    }

    .row {
      padding-left: 2% !important;
      padding-right: 2% !important;
      margin-bottom: 5%;
      height: 50% !important;

      .col-md-2, .col-md-3,
      .col-md-4, .col-md-5,
      .col-md-6, .col-md-7,
      .col-md-8, .col-md-9,
      .col-md-10, .col-md-11, .col-md-12,{
        margin-bottom: 5%;
      }

    }

    #first-row{
      height: 60% !important;
    }

    #second-row{
      height: 100% !important;
      .col-md-8{
        height: 45% !important;
      }

      .col-md-4{
        height: 49% !important;
      }


    }

  }
}


/**********************************************
  yesterday end
**********************************************/

