@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Nanum+Pen+Script&display=swap');

.container{
    position: relative;
    width: 100%;
    height: 1000px;
}

.main-wrapper{
    width: 100%;
    height: 100%;
    background-image: url(/img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.main-header{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 20px;
    justify-content: center;
}

.main-logo{
    color: white;
    font-size: 2.5em;
    overflow:visible;
    white-space:nowrap;
    font-family: 'Nanum Pen Script', cursive;
}

.main-menu li{
    display: inline-block;
    margin-right: 50px;
}

.main-menu li a:link, .main-menu li a:visited{
    color: white;
    font-size: 1.25em;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
}




.main-menu li:hover a:link:hover, .main-menu li:hover a:visited:hover {
    color: yellow;
    cursor: pointer;
}

.main-menu li:nth-child(3) {
    margin-right: 100px;
}

.justifier {
    flex-grow: 0.7;
}

.main-body{
    width: 100%;
    height: 80%;
    color: white;
    font-size: 4em;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    margin: auto;
}

.main-catchphrase{
    display: inline-block;
    margin: auto ;
}

.yesterday-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: #c2ccee;
}

.today-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: #eee4c2;
}

.tommorow-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: #eec2c2;
}

.str{
    margin: auto;
}