@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(/font/Noto_Sans_KR/NotoSansKR-Regular.otf) format("truetype");
}
@font-face {
  font-family: "GothicA1-Light";
  src: url(/font/GothicA1-Light.ttf) format("truetype");
}
@font-face {
  font-family: "NanumPenScript-Regular";
  src: url(/font/NanumPenScript-Regular.ttf) format("truetype");
}
/**********************************************
  common start
**********************************************/
.h-38 {
  height: 38% !important;
}

.h-40 {
  height: 40% !important;
}

.text-fcst {
  color: #2BAFFA !important;
}

.text-weather {
  color: #ffc107 !important;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 32%;
  }
}
/**********************************************
  common stop
**********************************************/
/**********************************************
  navi start
**********************************************/
#navigation {
  padding-left: 10%;
  padding-right: 10%;
}

#logo, #logo-menu {
  font-family: "NanumPenScript-Regular";
  font-size: 2em;
}

.menu-1, .menu-2,
.menu-3 {
  font-family: "NanumPenScript-Regular";
  font-size: 2.5em;
}

.menu-1,
.menu-2,
.menu-3 {
  margin-left: 100px;
}

.menu-1:hover,
.menu-2:hover,
.menu-3:hover {
  color: #ffc107 !important;
}

i {
  display: inline-block;
  margin-right: 0.5em;
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.5em;
  }
  #navigation {
    padding-left: 5%;
    padding-right: 5%;
  }
  .menu-1,
.menu-2,
.menu-3 {
    font-size: 2em;
    margin-left: 0px;
  }
}
/**********************************************
  navi end
**********************************************/
/**********************************************
  home start
**********************************************/
#home-container {
  width: 100%;
  height: 100VH;
  background-image: url(/img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: 100% 25%;
  overflow: hidden;
}
#home-container .row {
  margin-top: 12%;
}
#home-container p {
  color: white;
  font-family: "NanumPenScript-Regular";
  font-size: 3.5em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #home-container {
    background-position: 53% 25%;
  }
  #home-container .row {
    margin-top: 30%;
  }
  #home-container p {
    color: white;
    font-family: "NanumPenScript-Regular";
    font-size: 2.5em;
    text-align: center;
  }
}
/**********************************************
  home end
**********************************************/
/**********************************************
  yesterday start
**********************************************/
#yesterday-container {
  height: 100VH;
  background: -webkit-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -moz-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -ms-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: -o-linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
  background: linear-gradient(to bottom, #84A8E6, #5F96CF, #84A8E6);
}
#yesterday-container input[type=date], #yesterday-container select {
  border: 3px solid white;
  background-color: #84A8E6;
  color: white;
  font-weight: bolder;
}
#yesterday-container .input-group {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
#yesterday-container .row {
  padding-left: 10.5% !important;
  padding-right: 10.5% !important;
  margin: 0 auto;
}
#yesterday-container .row .col-md-2, #yesterday-container .row .col-md-3,
#yesterday-container .row .col-md-4, #yesterday-container .row .col-md-5,
#yesterday-container .row .col-md-6, #yesterday-container .row .col-md-7,
#yesterday-container .row .col-md-8, #yesterday-container .row .col-md-9,
#yesterday-container .row .col-md-10, #yesterday-container .row .col-md-11, #yesterday-container .row .col-md-12 {
  background-color: rgba(255, 255, 255, 0.4);
}
#yesterday-container #second-row {
  height: 40% !important;
}
#yesterday-container #second-row .carousel-control-next, #yesterday-container #second-row .carousel-control-prev {
  width: 5%;
  bottom: 8%;
}
#yesterday-container #second-row canvas {
  display: block;
  margin: 0 auto;
}
#yesterday-container #first-row {
  height: 20%;
}
#yesterday-container #first-row .fcst-card {
  color: white;
  font-family: "NanumPenScript-Regular";
}
#yesterday-container #first-row .fcst-card .card-header {
  background-color: #2BAFFA !important;
  font-size: 2em;
}
#yesterday-container #first-row .fcst-card .card-title {
  text-align: center;
  font-size: 4em;
  margin: 0 !important;
  position: relative;
  top: 20%;
}
#yesterday-container #first-row .weather-card {
  color: white;
  font-family: "NanumPenScript-Regular";
}
#yesterday-container #first-row .weather-card .card-header {
  background-color: #ffc107 !important;
  font-size: 2em;
}
#yesterday-container #first-row .weather-card .card-title {
  text-align: center;
  font-size: 4em;
  margin: 0 !important;
  position: relative;
  top: 20%;
}

@media screen and (max-width: 768px) {
  #yesterday-container {
    overflow: scroll;
  }
  #yesterday-container .input-group {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  #yesterday-container .row {
    padding-left: 2% !important;
    padding-right: 2% !important;
    margin-bottom: 5%;
    height: 50% !important;
  }
  #yesterday-container .row .col-md-2, #yesterday-container .row .col-md-3,
#yesterday-container .row .col-md-4, #yesterday-container .row .col-md-5,
#yesterday-container .row .col-md-6, #yesterday-container .row .col-md-7,
#yesterday-container .row .col-md-8, #yesterday-container .row .col-md-9,
#yesterday-container .row .col-md-10, #yesterday-container .row .col-md-11, #yesterday-container .row .col-md-12 {
    margin-bottom: 5%;
  }
  #yesterday-container #first-row {
    height: 60% !important;
  }
  #yesterday-container #second-row {
    height: 100% !important;
  }
  #yesterday-container #second-row .col-md-8 {
    height: 45% !important;
  }
  #yesterday-container #second-row .col-md-4 {
    height: 49% !important;
  }
}
/**********************************************
  yesterday end
**********************************************/

/*# sourceMappingURL=style.css.map */
