<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/common.html :: frg_head}"></head>
<body>
<div id="yesterday-container" class="container-fluid p-0">
  <div th:replace="~{fragments/common.html :: frg_navbar}"></div>
  <div id="search-condition" class="input-group mb-3 mt-3 mt-md-0 w-100">
    <select id="location" class="form-control mx-2 rounded" ></select>
    <input type="date" class="form-control mx-2 rounded" >
  </div>
  <div id="first-row" class="row w-100 mb-2 justify-content-between">
    <div class="card fcst-card col-6 col-md-3 p-0 rounded">
        <div class="card-header">예보 최저</div>
        <div class="card-body">
            <h5 class="card-title"> - °</h5>
        </div>
    </div>
    <div class="card weather-card col-6 col-md-3 p-0  rounded">
        <div class="card-header">관측 최저</div>
        <div class="card-body">
            <h5 class="card-title"> - °</h5>
        </div>
    </div>
    <div class="card col-6 col-md-3 fcst-card p-0 rounded">
        <div class="card-header">예보 최고</div>
        <div class="card-body">
            <h5 class="card-title"> - °</h5>
        </div>
    </div>
    <div class="card col-6 weather-card col-md-3 p-0  rounded">
        <div class="card-header">관측 최저</div>
        <div class="card-body">
            <h5 class="card-title"> - °</h5>
        </div>
    </div>
  </div>
  <div id="second-row" class="row w-100 justify-content-between">
      <div id="temperatureSheet-container" class="col-md-8 p-0 rounded">
          <div id="carouselExample" class="carousel slide w-100 h-100">
              <div class="carousel-inner w-100 h-100" style="text-align: center; vertical-align: middle !important;">
                  <div id="" class="carousel-item w-100 h-100 active">
                      <div id="temperature-sheet" ></div>
                  </div>
                  <div class="carousel-item w-100 h-100">
                      <div id="rainfall-sheet" ></div>
                  </div>
                  <div class="carousel-item w-100 h-100">
                      <div id="snow-sheet" ></div>
                  </div>
                  <div class="carousel-item w-100 h-100">
                      <div id="humidity-sheet" ></div>
                  </div>
                  <div class="carousel-item w-100 h-100">
                      <div id="wsd-sheet" ></div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
      <div class="col-md-4 rounded p-0 ">
          <table class="w-75 h-100 m-auto">
          </table>
      </div>
  </div>    <!-- first-row end -->

</div>     <!-- second-row end -->

<script th:replace="~{fragments/common.html :: script}"></script>
<script>

    const searchCondition = document.getElementById('search-condition');
    const where = document.querySelector('#search-condition select');
    const when = document.querySelector('input[type=\'date\']');
    let temperatureSheet, rainfallSheet, snowSheet, humiditySheet, wsdSheet;


    document.addEventListener('DOMContentLoaded', function (){
        init();
        <!-- 모바일 메뉴 클릭 시 display:block되도록 -->
        document.querySelector('.navbar-toggler').addEventListener('click', function(){
            document.querySelector('#navbarNav').classList.add('d-block');
        });

        searchCondition.addEventListener('change', function(){
           if(where.value && when.value){
               const data = doAction('seperateData');

               //상단 카드 세팅
               const fcstCard = document.querySelectorAll('#first-row .fcst-card .card-body .card-title')
               fcstCard[0].innerText = data.fcstTMN + "°";
               fcstCard[1].innerText = data.fcstTMX + "°";

               const weatherCard = document.querySelectorAll('#first-row .weather-card .card-body .card-title')
               weatherCard[0].innerText = data.weatherTMN + "°";
               weatherCard[1].innerText = data.weatherTMX + "°";

               //차트 세팅
               temperatureSheet.setData(data.temperatureData);
               rainfallSheet.setData(data.pcpData);
               snowSheet.setData(data.snoData);
               humiditySheet.setData(data.humidityData);
               wsdSheet.setData(data.wsdData);

               const tempData = data.temperatureData;

               //테이블 세팅
               let str = "<tr class='text-white'>" +
                            "<td class='w-25 text-start align-middle ps-1 fw-bolder'>기온</td>" +
                            "<td class='w-25 text-center align-middle'>&nbsp;&nbsp;</td>" +
                            "<td class='w-25 text-center align-middle fw-bolder text-fcst'>예보</td>" +
                            "<td class='w-25 text-center align-middle fw-bolder text-weather'>관측</td>" +
                         "</tr>";

               const loopSize = tempData.categories.length;
               for (let i = 0; i < loopSize; i++) {
                   str += "<tr>"
                   str +=   "<td class='w-25 text-start align-middle ps-1 fw-bolder text-white'>"+ tempData.categories[i] +"</td>"
                   str +=   "<td class='w-25 text-center align-middle '>&nbsp;&nbsp;</td>"
                   str +=   "<td class='w-25 text-center align-middle fw-bolder text-fcst'>"+tempData.series[0].data[i]+"°</td>"
                   str +=   "<td class='w-25 text-center align-middle fw-bolder text-weather'>"+tempData.series[1].data[i]+"°</td>"
                   str += "</tr>";
               }

               document.querySelector('#second-row .col-md-4 table').innerHTML = str;


            }
        });
    });

    function init(){
        const chartWidth = document.getElementById('temperatureSheet-container').clientWidth;
        const chartHeight = document.getElementById('temperatureSheet-container').clientHeight;
        const selectedMenu = document.querySelectorAll('.menu-1');
        selectedMenu[0].classList.add('text-warning');
        selectedMenu[1].classList.add('text-warning');
        Util.setForm();

        temperatureSheet = toastui.Chart.lineChart({
            el : document.getElementById('temperature-sheet'),
            data :{
                categories: [
                    '06시',
                    '09시',
                    '12시',
                    '15시',
                    '18시',
                    '21시',
                    '23시',
                ],
                series: [
                    {
                        name: '예보기온',
                        data: [],
                    },
                    {
                        name: '관측기온',
                        data: [],
                    },
                ],
            },

            options : {

                chart: {
                    width:Number(chartWidth) * 0.9,
                    height:Number(chartHeight),
                },

                legend: {
                    visible: true,
                    showCheckbox:false,
                    align:"bottom",
                },

                lang: {
                    noData: 'No Data',
                },

                tooltip: {
                    formatter: (value) => `${value}°`,
                },

                exportMenu: {
                    visible: false
                },

                xAxis: {
                    label: {
                        interval: 1,
                    },
                    tick: {
                        interval: 1,
                    },
                    title: {
                        offsetX: 0,
                        offsetY: 0,
                        visible:false,
                    },
                },

                yAxis: {
                    label: {
                        interval: 1,
                    },
                },

                theme: {
                    chart: {
                        fontFamily: 'Malgun Gothic',
                        backgroundColor: 'rgba(255, 255, 255, 0)',
                    },

                    noData: {
                        fontFamily: 'NanumPenScript-Regular',
                        fontSize:24,
                        fontWeight: 'bold',
                        color: 'white',
                    },

                    legend: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontSize: 12,
                            color: 'rgb(255, 255, 255)',
                        }
                    },

                    xAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                    yAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                },

                series: {
                    spline: true,
                },

            },
        });

        humiditySheet = toastui.Chart.barChart({
            el : document.getElementById('humidity-sheet'),
            data :{
                categories: [
                    '06시',
                    '09시',
                    '12시',
                    '15시',
                    '18시',
                    '21시',
                    '23시',
                ],

                series: [
                    {
                        name: '예보습도',
                        data: [],
                    },
                    {
                        name: '관측습도',
                        data: [],
                    },
                ],
            },

            options : {

                chart: {
                    width:Number(chartWidth) * 0.9,
                    height:Number(chartHeight),
                },

                legend: {
                    visible: true,
                    showCheckbox:false,
                    align:"bottom",
                },

                lang: {
                    noData: 'No Data',
                },

                tooltip: {
                    formatter: (value) => `${value}%`,
                },

                exportMenu: {
                    visible: false
                },

                xAxis: {
                    label: {
                        interval: 1,
                    },
                    tick: {
                        interval: 1,
                    },
                    title: {
                        offsetX: 0,
                        offsetY: 0,
                        visible:false,
                    },
                },

                yAxis: {
                    label: {
                        interval: 1,
                    },
                },

                theme: {
                    chart: {
                        fontFamily: 'Malgun Gothic',
                        backgroundColor: 'rgba(255, 255, 255, 0)',
                    },

                    noData: {
                        fontFamily: 'NanumPenScript-Regular',
                        fontSize:24,
                        fontWeight: 'bold',
                        color: 'white',
                    },

                    legend: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontSize: 12,
                            color: 'rgb(255, 255, 255)',
                        }
                    },

                    xAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                    yAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                },

                series: {
                    spline: true,
                },

            },
        });

        rainfallSheet = toastui.Chart.columnChart({
            el : document.getElementById('rainfall-sheet'),
            data :{
                categories: [
                    '06시',
                    '09시',
                    '12시',
                    '15시',
                    '18시',
                    '21시',
                    '23시',
                ],

                series: [
                    {
                        name: '예보습도',
                        data: [],
                    },
                    {
                        name: '관측습도',
                        data: [],
                    },
                ],
            },

            options : {

                chart: {
                    width:Number(chartWidth) * 0.9,
                    height:Number(chartHeight),
                },

                legend: {
                    visible: true,
                    showCheckbox:false,
                    align:"bottom",
                },

                lang: {
                    noData: 'No Data',
                },

                tooltip: {
                    formatter: (value) => `${value}mm`,
                },

                exportMenu: {
                    visible: false
                },

                xAxis: {
                    label: {
                        interval: 1,
                    },
                    tick: {
                        interval: 1,
                    },
                    title: {
                        offsetX: 0,
                        offsetY: 0,
                        visible:false,
                    },
                },

                yAxis: {
                    label: {
                        interval: 1,
                    },
                },

                theme: {
                    chart: {
                        fontFamily: 'Malgun Gothic',
                        backgroundColor: 'rgba(255, 255, 255, 0)',
                    },

                    noData: {
                        fontFamily: 'NanumPenScript-Regular',
                        fontSize:24,
                        fontWeight: 'bold',
                        color: 'white',
                    },

                    legend: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontSize: 12,
                            color: 'rgb(255, 255, 255)',
                        }
                    },

                    xAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                    yAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                },

                series: {
                    spline: true,
                },

            },
        });

        snowSheet = toastui.Chart.columnChart({
            el : document.getElementById('snow-sheet'),
            data :{
                categories: [
                    '06시',
                    '09시',
                    '12시',
                    '15시',
                    '18시',
                    '21시',
                    '23시',
                ],

                series: [
                    {
                        name: '예보적설량',
                        data: [],
                    },
                    {
                        name: '관측적설량',
                        data: [],
                    },
                ],
            },

            options : {

                chart: {
                    width:Number(chartWidth) * 0.9,
                    height:Number(chartHeight),
                },

                legend: {
                    visible: true,
                    showCheckbox:false,
                    align:"bottom",
                },

                lang: {
                    noData: 'No Data',
                },

                tooltip: {
                    formatter: (value) => `${value}cm`,
                },

                exportMenu: {
                    visible: false
                },

                xAxis: {
                    label: {
                        interval: 1,
                    },
                    tick: {
                        interval: 1,
                    },
                    title: {
                        offsetX: 0,
                        offsetY: 0,
                        visible:false,
                    },
                },

                yAxis: {
                    label: {
                        interval: 1,
                    },
                },

                theme: {
                    chart: {
                        fontFamily: 'Malgun Gothic',
                        backgroundColor: 'rgba(255, 255, 255, 0)',
                    },

                    noData: {
                        fontFamily: 'NanumPenScript-Regular',
                        fontSize:24,
                        fontWeight: 'bold',
                        color: 'white',
                    },

                    legend: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontSize: 12,
                            color: 'rgb(255, 255, 255)',
                        }
                    },

                    xAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                    yAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                },

                series: {
                    spline: true,
                },

            },
        });

        wsdSheet = toastui.Chart.lineChart({
            el : document.getElementById('wsd-sheet'),
            data :{
                categories: [
                    '06시',
                    '09시',
                    '12시',
                    '15시',
                    '18시',
                    '21시',
                    '23시',
                ],
                series: [
                    {
                        name: '예보풍속',
                        data: [],
                    },
                    {
                        name: '관측풍속',
                        data: [],
                    },
                ],
            },

            options : {

                chart: {
                    width:Number(chartWidth) * 0.9,
                    height:Number(chartHeight),
                },

                legend: {
                    visible: true,
                    showCheckbox:false,
                    align:"bottom",
                },

                lang: {
                    noData: 'No Data',
                },

                tooltip: {
                    formatter: (value) => `${value}m/s`,
                },

                exportMenu: {
                    visible: false
                },

                xAxis: {
                    label: {
                        interval: 1,
                    },
                    tick: {
                        interval: 1,
                    },
                    title: {
                        offsetX: 0,
                        offsetY: 0,
                        visible:false,
                    },
                },

                yAxis: {
                    label: {
                        interval: 1,
                    },
                },

                theme: {
                    chart: {
                        fontFamily: 'Malgun Gothic',
                        backgroundColor: 'rgba(255, 255, 255, 0)',
                    },

                    noData: {
                        fontFamily: 'NanumPenScript-Regular',
                        fontSize:24,
                        fontWeight: 'bold',
                        color: 'white',
                    },

                    legend: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontSize: 12,
                            color: 'rgb(255, 255, 255)',
                        }
                    },

                    xAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                    yAxis: {
                        label: {
                            fontFamily: 'NotoSansKR-Regular',
                            fontWeight:'bold',
                            fontSize: 12,
                            color: 'white'
                        },
                        color:'white',
                        width: '3',
                    },

                },

                series: {
                    spline: true,
                },

            },
        });

    }

    function doAction(sAction){
        if(sAction == 'getForecast'){
            const param = {}
            param.method = "GET";
            param.url = "/forecast/"+Util.removeMinusChar(when.value)+"/"+Number(where.value);
            param.async = false;
            const fcstData = Util.getAjax(param, null);
            return fcstData;
        }else if(sAction == 'getWeather'){
            const param = {}
            param.method = "GET";
            param.url = "/weather/"+Util.removeMinusChar(when.value)+"/"+Number(where.value);
            param.async = false;
            const weatherData = Util.getAjax(param, null);
            return weatherData;
        }else if(sAction == 'seperateData'){     //받아온 데이터를 바인딩 할 형태로 나누어줌.
            const resultData = {}
            const fcstData = doAction('getForecast');
            const weatherData = doAction('getWeather');
            const fcstSize = fcstData.length;
            const weatherSize = weatherData.length;

            //데이터의 길이가 서로 같은 지 체크(06, 09, 12, 15, 18, 21, 23의 7시간)
            if(fcstSize != weatherSize) {
                alert("데이터가 유효하지 않습니다.");
                return;
            }

            //온도
            const temperatureSeries = [];
            const fcstTmp = {
                name:"예보기온",
                data:[],
            };

            const weatherTmp = {
                name:"관측기온",
                data:[],
            };

            //습도
            const humiditySeries = [];
            const fcstHumidity = {
                name:"예보습도",
                data:[],
            };
            const weatherHumidity = {
                name:"관측습도",
                data:[],
            };

            //강수량
            const pcpSeries = [];
            const fcstPcp = {
                name:"예보강수량",
                data:[],
            };

            const weatherPcp = {
                name:"관측강수량",
                data:[],
            };

            //적설량
            const snowSeries = [];
            const fcstSno = {
                name:"예보적설량",
                data:[],
            };

            const weatherSno = {
                name:"관측적설량",
                data:[],
            };

            //풍향
            const vecSeries = [];
            const fcstVec = {
                name:"예보풍향",
                data:[],
            };

            const weatherVec = {
                name:"관측풍향",
                data:[],
            };

            //풍송
            const wsdSeries = [];
            const fcstWsd = {
                name:"예보풍속",
                data:[],
            };

            const weatherWsd = {
                name:"관측풍속",
                data:[],
            };


            for (let i = 0; i < fcstSize; i++) {
                fcstTmp.data.push(Number(fcstData[i].tmp));
                weatherTmp.data.push(Number(weatherData[i].tmp));

                fcstHumidity.data.push(Number(fcstData[i].reh));
                weatherHumidity.data.push(Number(weatherData[i].reh));

                fcstVec.data.push(Number(fcstData[i].vec));
                weatherVec.data.push(Number(weatherData[i].vec));

                fcstWsd.data.push(Number(fcstData[i].wsd));
                weatherWsd.data.push(Number(weatherData[i].wsd));

                let fcstDataPcp = fcstData[i].pcp;
                let weatherDataPcp = weatherData[i].pcp;
                let fcstDataSno = fcstData[i].sno;
                let weatherDataSno = weatherData[i].sno;

                if(fcstDataPcp.trim() == "강수없음"){
                    fcstPcp.data.push(0);
                }else{
                    fcstPcp.data.push(Number(fcstDataPcp.replace(/[a-zA-Z]/gi,'')));
                }

                if(!weatherDataPcp){
                    weatherPcp.data.push(0);
                }else{
                    weatherPcp.data.push(Number(weatherDataPcp));
                }

                if(fcstDataSno.trim() == "적설없음"){
                    fcstSno.data.push(0);
                }else{
                    fcstDataSno = fcstDataSno.replace(/[가-힣]/gi, '');
                    fcstSno.data.push(Number(fcstDataSno.replace(/[a-zA-Z]/gi,'')));
                }

                if(!weatherDataSno){
                    weatherSno.data.push(0);
                }else{
                    weatherSno.data.push(Number(weatherDataSno));
                }

            }

            temperatureSeries.push(fcstTmp);
            temperatureSeries.push(weatherTmp);
            humiditySeries.push(fcstHumidity);
            humiditySeries.push(weatherHumidity);
            pcpSeries.push(fcstPcp);
            pcpSeries.push(weatherPcp);
            snowSeries.push(fcstSno);
            snowSeries.push(weatherSno);
            vecSeries.push(fcstVec);
            vecSeries.push(weatherVec);
            wsdSeries.push(fcstWsd);
            wsdSeries.push(weatherWsd);

            const temperatureData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: temperatureSeries,
            }

            const humidityData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: humiditySeries,
            }

            const pcpData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: pcpSeries,
            }

            const snoData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: snowSeries,
            }

            const vecData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: vecSeries,
            }

            const wsdData = {
                categories: ['06시', '09시', '12시', '15시', '18시', '21시', '23시'],
                series: wsdSeries,
            }

            resultData.temperatureData = temperatureData;
            resultData.humidityData = humidityData;
            resultData.pcpData = pcpData;
            resultData.snoData = snoData;
            resultData.vecData = vecData;
            resultData.wsdData = wsdData;
            resultData.fcstTMX = fcstData[3].tmx;
            resultData.fcstTMN = fcstData[0].tmn;
            resultData.weatherTMX = weatherData[3].tmx;
            resultData.weatherTMN = weatherData[0].tmn;

            return resultData;
        }
    }






</script>
</body>
</html>